{% extends 'core/base.html' %}

{% block title %}CONTACT US{% endblock %}
{% block content %}
  <div class="container mx-auto px-4 py-8">
    <h1 class="text-3xl font-bold mb-6">Contact Us</h1>
    <div class="bg-white p-6 rounded-lg shadow-lg">
      <div class="mb-4">
        <h2 class="text-xl font semibold">Whatsapp</h2>
        <p>
          <a href="https://wa.me/+254703421510" class="text-blue-500 hover:underline">Chat with us on Whatsapp</a>
        </p>

      </div>

      <div class="mb-4">
        <h2 class="text-xl font semibold">Phone</h2>
        <p>
          <a href="tel:+254106413266" class="text-blue-500 hover:underline">+254106413266</a>
        </p>

      </div>
      <div class="mb-4">
        <h2 class="text-xl font-semibold">Email</h2>
        <p>
          <a href="mailto:matrixx011001@gmail.com" class="text-blue-500 hover:underline">matrixx011001@gmail.com</a>
        </p>

      </div>

    </div>

  </div>
{% endblock %}
